<header>
    <div class="container">
        <div class="header-top">
            <span>
                Welcome to Our E-Commerce Store
            </span>
            <div>
                <div class="header-top-right">
                    <div class="logo">
                        <img src="../../../assets/images/Location.svg" alt="location">
                    </div>
                    <span>
                        Deliver to 423651
                    </span>
                </div>
                <div class="header-top-right">
                    <div class="logo">
                        <img src="../../../assets/images/iconoir_delivery-truck.svg" alt="delivery">
                    </div>
                    <span>
                        Track your order
                    </span>
                </div>
                <div class="header-top-right">
                    <div class="logo">
                        <img src="../../../assets/images/Discount.svg" alt="Discount">
                    </div>
                    <span>
                        All Offers
                    </span>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="main-logo">
                <a href="#">LOGO</a>
            </div>
            <div class="search-bar">
                <input type="text" name="search" placeholder="Search essentials, groceries and more...">
                    <button class="search-icon">
                        <img src="../../../assets/images/Search.svg" alt="search">
                    </button>
            </div>
            <div class="header-bottom-left">
                <a href="#" class="signin">
                    <img src="../../../assets/images/user.svg" alt="User-logo">
                    <span>Sign Up/Sign In</span>      
                </a>
                <div></div>
                <a href="#" class="cart">
                    <img src="../../../assets/images/Buy.svg" alt="cart-logo">
                    <span>Cart</span>   
                </a>
            </div>
        </div>
    </div>
</header>