header {
    .header-top {
        color: #666666;
        font-weight: 500;
        font-size: 15px;
        line-height: 14px;
        padding: 21px 0 0;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            justify-content: space-between;
            height: 14px;

            .header-top-right {
                display: flex;
                align-items: center;
                padding-left: 21px;

                span {
                    padding-left: 6px;
                }
            }
        }
    }

    .header-bottom {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0px;

        .main-logo {
            font-size: 80px;
            font-weight: 400;
            line-height: 18px;
            color: #474747;
        }

        .search-bar {
            display: flex;

            input {
                width: 700px;
                padding: 19px 22px;
                font-weight: 400;
                font-size: 20px;
                background-color: #F3F9FB;
                border: 1px solid #A5A3A3;
                border-radius: 10px;
                margin-right: 10px;
            }

            .search-icon {
                background-color: var(--primary-color);
                padding: 18px;
                border: none;
                border-radius: 10px;
                height: min-content;
            }

        }

        .header-bottom-left {
            display: flex;
            align-items: center;
            width: 301px;

            div {
                width: 24px;
                height: 0;
                border-top: 1px solid #D9D9D9;
                margin: 20px 0px;
                transform: rotate(-90deg);
            }

            a {
                display: flex;
                align-items: center;

                img {
                    padding-right: 10px;
                }

                span {
                    font-weight: 500;
                    font-size: 20px;
                    color: #474747;
                    white-space: nowrap;
                }
            }
        }

    }
}