nav {
    padding: 31px;
    background-color: #6D3C2C;
    text-align: center;

    a {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 22px;
        line-height: 18px;
        padding: 0px 70px;
        white-space: nowrap;
    }
}